@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #2C2B2B;
  font-family: "Oswald", sans-serif;
}
body a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
body .container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background: #5A0D67;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
.button:hover {
  background-color: #fff;
  color: #5A0D67;
}

.header {
  background: url("../images/bg/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}
.header__top {
  padding: 47px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__top .phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.header__content {
  position: relative;
  padding-top: 60px;
}
.header__title {
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}
.header__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__text {
  margin-bottom: 30px;
  max-width: 800px;
}
.header__imges {
  position: absolute;
  right: 0;
  bottom: -270px;
}
.header__social {
  padding: 70px 0 20px 70px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link {
  margin: 0 5px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #21062A;
  margin-bottom: 50px;
  position: relative;
}
.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062A;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.button {
  position: relative;
}
.button--decor {
  margin-top: -7px;
}
.button--decor::after {
  content: "ЖМИ";
  color: #C4C4C4;
  margin-left: 130px;
  position: absolute;
}
.button--decor::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: #C4C4C4;
  position: absolute;
  right: -65px;
  top: 24px;
}

.services {
  padding-top: 350px;
}
.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.services__content {
  width: 505px;
  margin-right: 96px;
}
.services__content-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #5A0D67;
  margin-bottom: 12px;
}
.services__content-textbox {
  margin-bottom: 57px;
}
.services__content-text {
  margin-bottom: 12px;
}
.services__list {
  list-style: none;
  counter-reset: my-counter;
}
.services__item {
  counter-increment: my-counter;
  border: 2px solid #C4C4C4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.services__item:hover {
  border: 2px solid #5A0D67;
  width: 500px;
}
.services__item:hover::before {
  color: #5A0D67;
}
.services__item-title {
  font-weight: 300;
  font-size: 24px;
  color: #2C2B2B;
}
.services__item-title:hover {
  color: #5A0D67;
}
.services__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  left: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #C4C4C4;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__imges {
  margin-right: 95px;
}
.benefits__content {
  width: 100%;
  color: #fff;
}
.benefits__title {
  margin-left: 185px;
}
.benefits__list {
  list-style: none;
  background: #21062A;
  padding: 25px 0 25px 185px;
}
.benefits__list-item {
  width: 320px;
  margin-bottom: 20px;
}
.benefits__item-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.benefits__item-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
}
.benefits__item-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #C4C4C4;
}

.carousel {
  margin-bottom: 100px;
}
.carousel__inner {
  margin: 0 -7px;
}
.carousel__item {
  margin: 0 7px;
  text-align: center;
}
.carousel__item-box {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  margin: 0 7px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.carousel__item-box:hover {
  color: #ffffff;
  background-color: #5A0D67;
  border: 1px solid #5A0D67;
}
.carousel__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}
.carousel__item-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 5px;
}
.carousel .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  list-style: none;
}
.carousel .slick-dots button {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0 10px;
  width: 50px;
  height: 1px;
  background-color: #c4c4c4;
}
.carousel .slick-active button {
  height: 3px;
  background: #5A0D67;
}

.contacs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacs__list {
  list-style: none;
}
.contacs__item {
  margin-bottom: 20px;
}
.contacs__item-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #5A0D67;
}
.contacs__title {
  margin-left: 53px;
  margin-bottom: 16px;
  color: #fff;
  text-align: left;
}
.contacs__title::after {
  background-color: #fff;
}
.contacs__form {
  padding: 50px 75px 57px;
  background: #21062A;
}
.contacs__input {
  background-color: transparent;
  width: 450px;
  height: 75px;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 12px;
  display: block;
  font-size: 24px;
  padding: 0 15px;
  text-align: center;
}
.contacs__input::-webkit-input-placeholder {
  font-family: Oswald;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}
.contacs__input::-moz-placeholder {
  font-family: Oswald;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}
.contacs__input:-ms-input-placeholder {
  font-family: Oswald;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}
.contacs__input::-ms-input-placeholder {
  font-family: Oswald;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}
.contacs__input::placeholder {
  font-family: Oswald;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  color: #c4c4c4;
}
.contacs__btn {
  display: block;
  margin: 0 auto;
  border: none;
  color: #fff;
  margin-top: 78px;
  cursor: pointer;
}

.footer {
  height: 100px;
  color: #fff;
  background: #21062A;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

@media (max-width: 1140px) {
  .services__item:hover {
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .header__imges {
    width: 80%;
  }

  .services {
    padding-top: 250px;
  }
  .services__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__list {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 30px;
    width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .services__item:hover {
    width: 100%;
  }
  .services__content {
    width: 100%;
    margin-right: 0;
  }

  .benefits__imges {
    display: none;
  }
}
@media (max-width: 900px) {
  .header__imges {
    width: 80%;
  }

  .header__top .phone {
    font-size: 24px;
    line-height: 36px;
  }

  .header__title {
    font-size: 54px;
    line-height: 74px;
  }

  .header__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .header__social {
    padding: 30px 0 20px 53px;
  }

  .contacs__inner {
    display: block;
    text-align: center;
  }
  .contacs__list {
    margin-bottom: 25px;
  }
  .contacs__input {
    width: 100%;
  }
  .contacs__btn {
    margin-top: 20px;
  }
  .contacs__title {
    margin-left: 0;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .benefits__inner {
    text-align: center;
  }
  .benefits__list {
    padding: 25px 15px;
  }
  .benefits__list-item {
    width: 100%;
  }

  .title {
    margin-left: 0;
  }
  .title::after {
    display: none;
  }
  .title__item-num {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 650px) {
  .footer {
    height: 100%;
  }
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 20px 0;
    text-align: center;
  }
  .footer__social {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 25px 0;
  }
}
@media (max-width: 600px) {
  .header__content {
    padding-top: 0;
    text-align: center;
  }

  .header__social {
    padding: 30px 0 20px 0px;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .services {
    padding-top: 100px;
  }
  .services .title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  .services .title::after {
    display: none;
  }
  .services__item::before {
    top: 5px;
  }
  .services__content {
    text-align: center;
  }

  body {
    font-size: 16px;
    line-height: 22px;
  }

  .carousel__item-img {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .logo {
    margin-bottom: 20px;
    width: 100%;
  }

  .header__title {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 50px;
  }

  .header__imges {
    position: static;
  }

  .services {
    padding-top: 50px;
  }
  .services__inner,
.services .benefits,
.services .carousel {
    margin-bottom: 50px;
  }
  .services__item {
    padding: 10px 15px 10px 60px;
  }
  .services__item::before {
    left: 11px;
  }
  .services .button--decor::before,
.services .button--decor::after {
    display: none;
  }

  .carousel .slick-dots button {
    width: 10px;
  }

  .contacs__form {
    padding: 50px 10px 57px;
  }
}
@media (max-width: 360px) {
  .button--decor::before,
.button--decor::after {
    display: none;
  }
}
@media (max-width: 340px) {
  .header__title {
    font-size: 44px;
    line-height: 50px;
  }

  .services__item::before {
    top: 15px;
  }
}